repos:
  - repo: https://github.com/nixos/nixfmt
    rev: v1.2.0
    hooks:
      - id: nixfmt-nix
        args: [--, --check]
  - repo: local
    hooks:
      - id: statix
        name: statix
        entry: statix check
        language: system
        files: \.nix$
        pass_filenames: false
